/* defualt color: white and aquamarine */

body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    
}
nav h1 {margin: 40px;}

nav .links {margin: 40px 40px 0 0;}

nav .links a {
    text-decoration: none;
    padding: 10px;
    background-color: #44444d;
    color: white;
    text-transform: uppercase;
    margin-left: 20px;
}
nav .links a:hover{
    font-weight: bolder;
    transition: 0.5s;
}

/* these are the welcome styles */

div.welcome{
    background-image: url(pictures/images6.jpeg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.welcome > p {
    text-align: center;
    padding: 80px 30px 0;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: white;
}
button {
    background-color: #44444d;
    padding: 10px;
    color: white;
}
button:hover {
    padding: 10px 30px;
    letter-spacing: 5px;
    transition: 0.5s;
    cursor: pointer;
}